<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false"
         version="5.0">
    <display-name>Messenger</display-name>
    
   <servlet>
		<servlet-name>Ui</servlet-name>
		<jsp-file>/WEB-INF/ui/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ui</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>SignUp</servlet-name>
		<jsp-file>/WEB-INF/ui/signup.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/ui/signUp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<jsp-file>/WEB-INF/ui/signin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/ui/signIn</url-pattern>
	</servlet-mapping>
	
    <servlet>
		<servlet-name>Message</servlet-name>
		<jsp-file>/WEB-INF/ui/sendmessage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Message</servlet-name>
		<url-pattern>/ui/user/message</url-pattern>
	</servlet-mapping>
</web-app>